*{
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    overflow: hidden;
}
.header {
    font-weight:900;
    color: transparent;
    padding: 10px;
    text-align: center;
    background-image: url(yesil.jpg);
    background-clip: text;
    -webkit-background-clip: text; /*bu olmazsa üstteki çalışmaz */
}
.line1{
    text-align: center;
}
.line2{
    text-align: center;
}
.line3{
    text-align: center;
}
a{
    font-size: large;
    font-weight: 900;
    color: black;
}